.projects-wrapper {
    padding-top: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-main-row {
    width: 60%;
}

.first-col-container {
    height: 200px;
}

.second-col-container {
    height: 100px;
}