.projects-wrapper {
    padding-top: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-main-row {
    width: 60rem;
}

@media (min-width: 950px) and (max-width: 1050px) {
    .projects-main-row {
        width: 55rem;
    }
}

@media (min-width: 815px) and (max-width: 950px) {
    .projects-main-row {
        width: 50rem;
    }
}

@media (min-width: 768px) and (max-width: 815px) {
    .projects-main-row {
        width: 45rem;
    }
}

@media (min-width: 0px) and (max-width: 786px) {
    .projects-main-row {
        width: 100%;
    }
}

.projects-left-col {
    width: 450px;
}

.projects-right-col {
    width: 450px;
}

.first-col-container {
    height: 200px;
}

.second-col-container {
    height: 100px;
}