.circle {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.js-container {
    position: absolute;
    width: 500px;
    height: 500px;
    border-radius: 100%;
    border: 1px dashed black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.js-container > img  {
    width: 50px;
    height: 50px;
    animation: js-spin 50000ms linear infinite;
}

@keyframes js-spin {
    0% {
        transform: rotate(0deg) translate(250px) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translate(250px) rotate(-360deg);
    }
}

.npm-container {
    position: absolute;
    width: 400px;
    height: 400px;
    border: 1px dashed black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.npm-container > img  {
    width: 50px;
    height: 50px;
    animation: npm-spin 50000ms linear infinite;
}

@keyframes npm-spin {
    0% {
        transform: rotate(0deg) translate(200px) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translate(200px) rotate(-360deg);
    }
}

.react-container {
    position: absolute;
    width: 300px;
    height: 300px;
    border: 1px dashed black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.react-container > img  {
    width: 50px;
    height: 50px;
    animation: react-spin 50000ms linear infinite;
}

@keyframes react-spin {
    0% {
        transform: rotate(0deg) translate(150px) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translate(150px) rotate(-360deg);
    }
}

.git-container {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px dashed black;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.git-container > img  {
    width: 50px;
    height: 50px;
    transform: translateX(100px);
    animation: git-spin 50000ms linear infinite;
}

.git-container > img:nth-of-type(2)  {
    width: 50px;
    height: 50px;
    /* transform: translateX(-125px); */
    animation: git-spin2 50000ms linear infinite;
}

@keyframes git-spin2 {
    0% {
        transform: rotate(0deg) translateY(-100px) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translateY(-100px) rotate(-360deg);
    }
}

@keyframes git-spin {
    0% {
        transform: rotate(0deg) translateY(125px) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translateY(125px) rotate(-360deg);
    }
}




