/* .circle {
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slice1 {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: rotate 4s linear infinite;
  }
  
  .slice2 {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: rotate2 4s linear infinite;
  }
  
  @keyframes rotate {
      0% {
          transform: rotate(0deg)translateY(150px) rotate(0deg);
      }
      100% {
          transform: rotate(360deg)translateY(150px)rotate(-360deg);
      }
  }
  
  @keyframes rotate2 {
      0% {
          transform: rotate(0deg)translateY(-150px) rotate(0deg);
      }
      100% {
          transform: rotate(360deg)translateY(-150px)rotate(-360deg);
      }
  }
   */