.home-wrapper {
    margin-top: 6rem;
}

.left-col {
    text-align: left;
}

.about-wrapper {
    text-align: left;
    margin-bottom: 50px;
}

.header {
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: .2rem;
}

@media (max-width: 768px) {
    .header {
        font-size: 4rem;
    }
}

@media (min-width: 789px) and (max-width: 874px) {
    .header {
        font-size: 3.4rem;
    }
}


.name-span {
    color: #50048f;
}

.full-name {
    color: #50048f;
    padding-top: .8rem;
}

p {
    font-size: 1.4rem;
    color: #6c757d;
}

.programmer-image {
    height: auto;
    max-height: 450px;
    max-width: 100%;
    animation: float 6s ease-in-out infinite;
    border-radius: 10%;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-20px);
    }

    100% {
        transform: translatey(0px);
    }
}

.introduce-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

.introduce-wrapper>h1 {
    color: #50048f;
    font-weight: bold;
    font-size: 4rem;
    margin-bottom: 2.8rem;
}

@media (max-width: 360px) {
    .introduce-wrapper>h1 {
        font-size: 2.2rem;
    }
}

@media (min-width: 361px) and (max-width: 430px) {
    .introduce-wrapper>h1 {
        font-size: 2.5rem;
    }
}

@media (min-width: 431px) and (max-width: 600px) {
    .introduce-wrapper>h1 {
        font-size: 3rem;
    }
}



.introduce-span {
    color: white;
}

.description-container {
    /* width: 35% !important; */
    display: flex;
    justify-content: center;
    text-align: center;
}

@media (min-width: 0px) and (max-width: 575px) {
    .description-column {
        flex: 0 0 auto !important;
        width: 85% !important;
    }
}