.home-wrapper {
    height: 100%;
    width: 100%;
}

.left-col {
    text-align: left;
}

.about-wrapper {
    text-align: left;
}

.name-span {
    color: #50048f;
}

.header {
    font-size: 4rem;
    font-weight: bold;
    letter-spacing: .2rem;
}

p {
    font-size: 1.4rem;
    color: #6c757d;
}

.programmer-image {
    width: 100%;
    animation: float 6s ease-in-out infinite;
    border-radius: 10%;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}