.contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 15rem;
}

.contact-wrapper > h1 {
    color: white;
    padding-bottom: 5rem;
    font-weight: bold;
    font-size: clamp(2.6rem, 6.5vw, 4rem);
    animation: float 6s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-10px);
    }

    100% {
        transform: translatey(0px);
    }
}

.contact-wrapper > h1 > span {
    color: #50048f;
}

.contact-form {
    width: 100%;
}

@media (min-width: 0px) and (max-width: 575px) {
    .contact-form-col {
        width: 85%;
    }
}

.form-control {
    color: white !important;
    text-align: center;
    background: transparent !important;
    border: none !important;
    border-bottom: 2px solid #50048f !important;
    border-radius: 0% !important;
    text-align: left;
    margin-bottom: 2.4rem;
    position: relative;
}

.form-control:focus {
    box-shadow:
    0 0 5px 1px #fff,
    0 0 7px 3px #F900BF,
    0 0 11px 5px #9900F0;
  }

  .contact-form-button {
    border-color: white;
    width: 10rem;
    background-color: white;
    color: #50048f;
    font-weight: bold;
}

.contact-form-button:hover {
    border-color: #50048f;
    color: white;
    background-color: #50048f;
}

