.badges-container {
    display: flex;
    gap: 1.5rem;
    justify-content: flex-start;
}

.badge {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 12px;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
