.badges-container {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    gap: .8rem;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .badges-container {
        justify-content: center;
    }
}

.badge {
    display: flex;
    justify-content: center;
    padding: .5rem 1.5rem;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
