.project-details-wrapper {
    padding-top: 150px;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.project-details-image {
    height: auto;
    max-width: 65rem;
}

@media (min-width: 930px) and (max-width: 1080px) {
    .project-details-image {
        max-width: 55rem;
    }
}

@media (min-width: 740px) and (max-width: 930px) {
    .project-details-image {
        max-width: 45rem;
    }
}

@media (min-width: 580px) and (max-width: 740px) {
    .project-details-image {
        max-width: 35rem;
    }
}

@media (min-width: 300px) and (max-width: 580px) {
    .project-details-image {
        max-width: 25rem;
    }
}

@media (min-width: 200px) and (max-width: 420px) {
    .project-details-image {
        max-width: 21rem;
    }
}

.project-details-title {
    padding: 3.4rem 0;
    color: white;
    font-size: clamp(2.5rem, 6.5vw, 3rem);
    font-weight: bold;
    text-align: center;
}

.project-details-description {
    width: 80%;
    text-align: left;
}

.project-details-subtitle {
    padding-top: 8rem;
    color: white;
    font-size: clamp(2rem, 6.5vw, 2.5rem);
    font-weight: bold;
    text-align: left;
}

@media (min-width: 930px) {
    .project-details-description {
        width: 50%;
    }
}

.pd-button {
    border-color: white;
    width: 10rem;
    background-color: white;
    color: #50048f;
}

.pd-button:hover {
    border-color: #50048f;
    color: white;
    background-color: #50048f;
}