.projects-image {
    height: 5rem;
}

.project-item-row {
    color: white;
    /* width: 100% !important; */
    margin-bottom: 2rem;
    /* background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); */
}

.project-item-row:nth-child(odd) {
    display: flex;
    flex-direction: row-reverse;
}
